<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', keyboard: false}" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <loader #loader="loader"></loader>
            <div class="modal-header">
                <span>
                    <h4><span><i class="glyphicon glyphicon-warning-sign"></i> DELETE CUSTOMER</span></h4>
                </span>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  custom-button-green pointer" (click)="deleteModal.hide()">
                    <i class="fa fa-times"></i> CANCEL </button>
                <button type="button" class="btn  custom-button-blue pointer" (click)="onDelete()">
                    <i class="fa fa-check"></i> CONFIRM </button>
            </div>
        </div>
    </div>
</div>