<div class="col-lg-12" style="margin-top: 2%; border: 1px solid #9EFF98; padding: 1%;">
    <div class="row">
        <div class="col-md-10 col-sm-10">
            <h4>Webtrekk Customers List</h4>
        </div>
        <div class="col-md-2 col-sm-2">
            <div>
                <!--<input class="form-control" type="text" placeholder="{{getLocalization('placeholder_search').toUpperCase()}}" (keyup)="updateFilter($event)" />-->
                <!--<span class="input-group-append"><button class="btn btn-secondary btn-lg" type="button" (click)="getData(true)"><i class="fa fa-refresh"></i></button></span>-->
                <span class="input-group-append"><button class="btn btn-success btn-md" type="button" (click)="onRouteClick()" [routerLink]="['./add']"><i class="glyphicon glyphicon-plus"></i>Add New Customer</button></span>
            </div>
        </div>
    </div>
    <div class="card box-shadow">
        <div class="card-body nopadding">
            <ngx-datatable class="bootstrap" #table [columnMode]="'force'" [scrollbarH]="true" [rows]="rows" [columns]="columns" [sorts]="sorts" [rowHeight]="35" [limit]="15" [footerHeight]="35" >
            </ngx-datatable>
        </div>
    </div>
</div>
<ng-template #actionColumn let-row="row" let-value="value" ngx-datatable-cell-template class="text-center">
    <!--<a  (click)="onRouteClick()" [routerLink]="['./edit',value]" title="Edit">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>-->
    <button class="btn btn-success btn-sm" type="button" (click)="onRouteClick()" [routerLink]="['./edit', value]"><i class="glyphicon glyphicon-pencil"></i></button>
    <button class="btn btn-warning btn-sm" type="button" (click)="deleteResource(value)"><i class="glyphicon glyphicon-trash"></i></button>
</ng-template>

<ng-template #activeColumn let-row="row" let-value="value" ngx-datatable-cell-template>
    <i *ngIf="value" class="fa fa-check text-rb"></i>
    <i *ngIf="!value" class="fa fa-times text-muted"></i>
</ng-template>

<!--<delete-modal #deleteModal="deleteModal"></delete-modal>-->